{% extends "main.html" %}

{% block content %}
<style>
    .navbar .container-fluid {
        overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 10px;
        scrollbar-width: thin;
        scrollbar-color: #888 #d9d9d9;
    }

    .navbar .container-fluid::-webkit-scrollbar {
        height: 8px;
    }
    
    .navbar .container-fluid::-webkit-scrollbar-track {
        background: #d9d9d9;
        border-radius: 10px;
    }
    
    .navbar .container-fluid::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }
    
    .navbar .container-fluid::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    @media (min-width: 600px) {
        .card-content-m {
            width: 75%;
            margin: auto;
        }
    }
    a {
        text-decoration: none;
        cursor: pointer;
    }
    .b-l-c-me:hover {
        transform: scale(1.05);
    }
</style>
<nav class="navbar" style="background-color: #d9d9d9;">
    <div class="container-fluid overflow-auto gap-3 d-flex flex-nowrap p-2">
      
      {% for tag in tags %}
      <button type="button" class="btn btn-secondary" style="min-width: 160px;">{{tag}}</button>
      {% endfor %}
        
    </div>
  </nav>
<h1 class="text-center m-3">Blog</h1>

<div class="container">
    
    {% for post in posts %}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div class="card card-content-m mb-4">
        <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #d1f1fe;">
            <div class="me-2 d-flex gap-2 align-items-center">
                <img class="rounded-circle border border-primary" style="width: 50px; height: 50px"
                 src=" {% if post.user.profile.profile_image.url %}
                    {{post.user.profile.profile_image.url}}
                 {% else %}
                    https://www.blookup.com/static/images/single/profile-1.edaddfbacb02.png
                 {% endif %}"
                 alt="">
                 
                <h4 class="d-inline">{{post.user.username}}</h4>
            </div>
            <div>
                <span class="fs-6 px-3 py-2 badge bg-secondary">{{post.tag.name}}</span>
            </div>
        </div>
        <img src="/media/{{post.image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.content}}</p>
            <div class="mt-4 d-flex justify-content-between align-items-center">
                <a><h5 class="b-l-c-me text-decoration-underline">{{ post.comments.count }} Comments</h5></a>
                <div class="b-l-c-me" onclick="toggleLikes({{post.id}})">
                <a id="like-setted-{{post.id}}">
                    {{ post.likes_count }}
                    {% if post.is_liked %} 
                        <i id="likeToggle2" class="bi bi-heart-fill"></i>
                        {% else %}
                        <i id="likeToggle1" class="bi bi-heart"></i>
                    {% endif %}
                </a>
                </div>
            </div>
            <div class="mt-4">
                <p class="m-0 text-secondary" style="font-size: 14px;">{{post.created_at}}</p>
            </div>
        </div>
      </div>

      {% endfor %}
</div>

<script>
    function getCSRFToken() {
        return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }
    function toggleLikes(post_id) {
        let formData = new FormData();
        formData.append("post_id", post_id);

        fetch("{% url 'likes' %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": getCSRFToken()
            },
            body: formData
        })
        .then(response => response.json())
        .then(response => {
            let likeHeart = ''
            if(response.is_liked) {
                likeHeart = '<i id="likeToggle2" class="bi bi-heart-fill"></i>'
            }else {
                likeHeart = '<i id="likeToggle1" class="bi bi-heart"></i>'
            }
            document.getElementById(`like-setted-${post_id}`).innerHTML = `
                ${response.likes_count}
                ${likeHeart}
            `
            console.log(response)
        }).catch((error) => {
            console.log(error)
        })
    }
</script>
{% endblock content %}