{% extends "main.html" %}

{% block content %}
<style>
    .navbar .container-fluid, #modal-body-comments, .paginat {
        overflow-x: auto;
        padding-bottom: 10px;
        scrollbar-width: thin;
        scrollbar-color: #888 #d9d9d9;
    }

    .navbar .container-fluid::-webkit-scrollbar, #modal-body-comments::-webkit-scrollbar {
        height: 8px;
    }
    
    .navbar .container-fluid::-webkit-scrollbar-track, #modal-body-comments::-webkit-scrollbar-track {
        background: #d9d9d9;
        border-radius: 10px;
    }
    
    .navbar .container-fluid::-webkit-scrollbar-thumb, #modal-body-comments::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }
    
    .navbar .container-fluid::-webkit-scrollbar-thumb:hover, #modal-body-comments::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    @media (min-width: 600px) {
        .card-content-m {
            width: 75%;
            margin: auto;
        }
    }
    a {
        text-decoration: none;
        cursor: pointer; 
    }
    .b-l-c-me:hover {
        transform: scale(1.05);
    }
</style>
<nav class="navbar" style="background-color: #d9d9d9;">
    <div class="container-fluid overflow-auto gap-3 d-flex flex-nowrap p-2">

      <a type="button" href="{% url 'blog' %}" class="btn btn-secondary" style="min-width: 160px;">All</a>
      {% for tag in tags %}
      <a type="button" href="?tag={{tag.id}}" class="btn btn-secondary" style="min-width: 160px;">{{tag}}</a>
      {% endfor %}
        
    </div>
</nav>

{% if request.user.is_authenticated %}
<div class="m-3 mt-4 d-flex justify-content-end">
    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#createPost">
        Create a post now
        <i class="bi bi-pencil-square"></i>
    </button>
</div>
{% endif %}

<h1 class="text-center m-3">
    {% if posts.tag_name %} 
        {{posts.tag_name}}
        {% else %}
        All
    {% endif %}
</h1>

<div class="container">
    
    {% for post in posts %}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div class="card card-content-m mb-4">
        <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #d1f1fe;">
            <div class="me-2 d-flex gap-2 align-items-center">
                <img class="rounded-circle border border-primary" style="width: 50px; height: 50px"
                 src=" {% if post.user.profile.profile_image.url %}
                    {{post.user.profile.profile_image.url}}
                 {% else %}
                    https://www.blookup.com/static/images/single/profile-1.edaddfbacb02.png
                 {% endif %}"
                 alt="">
                 
                <h4 class="d-inline">{{post.user.username}}</h4>
            </div>
            <div class="d-flex gap-2 flex-wrap justify-content-end">
                <span class="fs-6 px-3 py-2 badge bg-secondary">{{post.tag.name}}</span>
                
                {% if request.user.id == post.user.id %}
                <button type="button" class="btn btn-outline-secondary ms-3" 
                data-bs-toggle="modal" data-bs-target="#updatepost"
                onclick="fillUpdateModle({
                    'id': '{{post.id}}',
                    'title': '{{post.title}}',
                    'content': '{{post.content}}',
                    'tag_id': '{{post.tag.id}}',
                    'tag_name': '{{post.tag.name}}',
                })">
                    <i class="bi bi-pencil-square"></i>
                    Update
                </button>

                <a href="{% url 'deletePost' post.id %}" id="deletePost-btn" type="button" class="btn btn-outline-danger">
                    <i class="bi bi-trash"></i>
                    Delete
                </a>
                {% endif %}
                    
            </div>
        </div>
        
        {% if post.image %}
        <img src="/media/{{post.image}}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.content}}</p>
            <div class="mt-4 d-flex justify-content-between align-items-center">

                <a data-bs-toggle="modal" data-bs-target="#CommentsModel" onclick="getCommentForPost({{post.id}})">
                    <h5 class="b-l-c-me text-decoration-underline">{{ post.comments.count }} Comments</h5>
                </a>

                <div class="b-l-c-me" onclick="toggleLikes({{post.id}})">
                <a id="like-setted-{{post.id}}">
                    {{ post.likes_count }}
                    {% if post.is_liked %} 
                        <i id="likeToggle2" class="bi bi-heart-fill"></i>
                        {% else %}
                        <i id="likeToggle1" class="bi bi-heart"></i>
                    {% endif %}
                </a>
                </div>
            </div>
            <div class="mt-4">
                <p class="m-0 text-secondary" style="font-size: 14px;">{{post.created_at}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Modal comments -->
    <div class="modal fade" id="CommentsModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Post Comments</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body overflow-auto" 
                style="max-height: 75vh; padding: 40px" id="modal-body-comments">

                </div>
                {% if request.user.is_authenticated %}
                <div class="border-top input-group my-3 p-3 pt-4">
                    <input type="file" class="form-control" id="inputGroupFile01">
                    <textarea rows="1" class="form-control" id="contentComment" placeholder="Comment Now"></textarea>
                    <button class="btn btn-outline-primary" id="btn-create-comment">Comment</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!--// Modal comments //-->

    <!-- Modal update post -->
    <div class="modal fade" id="updatepost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update Post</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="updateModel">

            </div>
        </div>
        </div>
    </div>
    <!--// Modal update post //-->

    <!-- Modal Create post -->
    <div class="modal fade" id="createPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="createPostModle">
                    <form enctype="multipart/form-data" action="{% url 'createPost' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <select class="form-select" name="tag" aria-label="Default select example">

                                {% for tag in tags %}
                                    <option value="{{tag.id}}">{{tag.name}}</option>
                                {% endfor %}
                                    
                            </select>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Title" name="title">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Content" name="content">
                        </div>
                        <div class="mb-3">
                            <input type="file" name="image" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--// Modal Create post //-->

    {% comment %} tags {% endcomment %}
    <div class="d-flex justify-content-end">
        <div class="paginat btn-group me-2 p-1 w-50 overflow-auto
            border-top-0 border-bottom-0 border-primary border border-2
            m-4 mb-5" role="group" aria-label="First group">
            
            {% for item in posts.paginator.page_range %}
                
                {% if item == posts.number %}
    
                    <a type="button" href="?page={{ item }}&&tag={{ posts.tag_id }}" class="btn btn-primary">{{item}}</a>
                    {% else %}
                    <a type="button" href="?page={{ item }}&&tag={{ posts.tag_id }}" class="btn btn-outline-primary">{{item}}</a>
    
                {% endif %}
    
            {% endfor %}
                
        </div>
    </div>
    {% comment %} tags {% endcomment %}
</div>

<script>
    function getCommentForPost(post_id){
        fetch(`{% url 'getComment' %}?post_id=${post_id}`, {
            method: "GET",
        })
        .then(response => response.json())
        .then(response => {
            console.log(response)
            document.getElementById("modal-body-comments").innerHTML = ''
            for(let item of response.comments) {
                document.getElementById("modal-body-comments").innerHTML += `
                    <div class="mb-5">
                        <div class="me-2 d-flex gap-2 align-items-center justify-content-between">
                            <div class="d-flex gap-2 align-items-center">
                                <img class="rounded-circle border border-primary" style="width: 50px; height: 50px"
                                    src=" {% if post.user.profile.profile_image.url %}
                                    {{post.user.profile.profile_image.url}}
                                    {% else %}
                                    https://www.blookup.com/static/images/single/profile-1.edaddfbacb02.png
                                    {% endif %}"
                                    alt="">
                                    
                                <h4 class="d-inline">${item.user__username}</h4>
                            </div>
                            
                            ${response.current_user == item.user__id ?
                                `<button class="btn btn-danger btn-sm me-2" 
                                    onclick="deleteComment(${post_id}, ${item.id})">
                                    <i class="bi bi-trash"></i>
                                </button>`: '' }

                        </div>

                        <p class="mt-2 ms-5"> ${item.content}
                            <img class="mt-2 d-block" style="max-width: 75%"
                            src="/media/${item.image}" alt="">
                        </p>
                    </div>
                `
            }
            document.getElementById("modal-body-comments").innerHTML += 
            `<input id="hidden-post-id-comment" type="hidden" value="${post_id}">`
            
        }).catch((error) => {
            console.log(error)
        })
    }

    function getCSRFToken() {
        return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }

    function toggleLikes(post_id) {
        let formData = new FormData();
        formData.append("post_id", post_id);

        fetch("{% url 'likes' %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": getCSRFToken()
            },
            body: formData
        })
        .then(response => response.json())
        .then(response => {
            let likeHeart = ''
            if(response.is_liked) {
                likeHeart = '<i id="likeToggle2" class="bi bi-heart-fill"></i>'
            }else {
                likeHeart = '<i id="likeToggle1" class="bi bi-heart"></i>'
            }
            document.getElementById(`like-setted-${post_id}`).innerHTML = `
                ${response.likes_count}
                ${likeHeart}
            `
            console.log(response)
        }).catch((error) => {
            console.log(error)
        })
    }

    function fillUpdateModle(post) {
        document.getElementById("updateModel").innerHTML = `
            <form enctype="multipart/form-data" action="{% url 'updatePost' %}${post.id}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <select class="form-select" name="tag" aria-label="Default select example">
                        <option value="${post.tag_id}" selectd>${post.tag_name}</option>

                        {% for tag in tags %}
                            <option value="{{tag.id}}">{{tag.name}}</option>
                        {% endfor %}
                            
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" value="${post.title}" class="form-control" placeholder="Title" name="title">
                </div>
                <div class="mb-3">
                    <input type="text" value="${post.content}" class="form-control" placeholder="Content" name="content">
                </div>
                <div class="mb-3">
                    <input type="file" value="${post.image}" name="image" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        `
    }

    document.getElementById("btn-create-comment").addEventListener("click", () => {
        createComment(document.getElementById("hidden-post-id-comment").value)
    })

    function createComment(post_id) {
        console.log("done")
        console.log(post_id)
        let formData = new FormData();
        formData.append("image", document.getElementById("inputGroupFile01").files[0]); 
        formData.append("content", document.getElementById("contentComment").value);

        fetch(`{% url 'createComment' %}${post_id}`, {
            method: "POST",
            headers: {
                "X-CSRFToken": getCSRFToken()
            },
            body: formData
        })
        .then(response => response.json())
        .then(response => {
            getCommentForPost(post_id)
            console.log(response)
        }).catch((error) => {
            console.log(error)
        })
    }

    function deleteComment(post_id, comment_id) {
        if(confirm("you sure you want delete this comment?")){
            fetch(`{% url 'deleteComment' %}${comment_id}/`, {
                method: "POST",
                headers: {
                    "X-CSRFToken": getCSRFToken()
                },
            })
            .then(response => response.json())
            .then(response => {
                getCommentForPost(post_id)
                console.log(response)
            }).catch((error) => {
                console.log(error)
            })
        }
    }

    document.getElementById("deletePost-btn")?.addEventListener("click", function (e) {
        if(!confirm("you sure you want delete this post?")) {
            e.preventDefault();
        }
    });
</script>
{% endblock content %}